<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Cadastro</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-input label="Nome*" labelPlacement="floating" placeholder="Insira o nome" [(ngModel)]="novoUsuario.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="CPF*" labelPlacement="floating" placeholder="Insira o CPF" [maskito]="cpfMask"
        [maskitoElement]="maskPredicate" [(ngModel)]="novoUsuario.cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Celular*" labelPlacement="floating" placeholder="Insira o número de celuar" [maskito]="telMask"
        [maskitoElement]="maskPredicate" [(ngModel)]="novoUsuario.celular"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email*" labelPlacement="floating" placeholder="Insira o email" type="email" [(ngModel)]="novoUsuario.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="CEP" labelPlacement="floating" placeholder="Insira o CEP" [(ngModel)]="novoUsuario.cep"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Logradouro" labelPlacement="floating" placeholder="Insira a logradouro" [(ngModel)]="novoUsuario.logradouro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Bairro" labelPlacement="floating" placeholder="Insira a bairro" style="width: 150%;" [(ngModel)]="novoUsuario.bairro"></ion-input>
      <ion-input label="Numero" labelPlacement="floating" placeholder="Insira o numero" [(ngModel)]="novoUsuario.numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label-placement="floating" [(ngModel)]="estadoSelecionado" [placeholder]="estadoSelecionado"
        (ionChange)="onEstadoChange($event)" (click)="verificaEstados()">
        <div slot="label">Estado<ion-text color="danger">*</ion-text></div>
        <ion-select-option *ngFor="let item of estados; let pos = index"
          value="{{item.sigla}}">{{item.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label-placement="floating" [disabled]="selectDisabled" [(ngModel)]="cidadeSelecionada_id"
        [placeholder]="cidadeSelecionada" (click)="verificaEstados()" (ionChange)="onCidadeChange($event)">
        <div slot="label">Cidade<ion-text color="danger">*</ion-text></div>
        <ion-select-option *ngFor="let item of cidades; let pos = index"
          value="{{item.id}}">{{item.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-row>
    <ion-col size-lg="2" offset-lg="5" size-xs="12" offset-xs="0">
      <ion-button size="default" expand="block" (click)="enviaUsuario()">Salvar</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-lg="2" offset-lg="5" size-xs="12" offset-xs="0">
      <ion-button size="default" expand="block" fill="outline" (click)="voltaPagina()">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
