<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de ONGs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-title size="large">Lista de ONGs</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row style="height: 100%;">
      <ion-col size-lg="2" offset-lg="5" size-xs="12" offset-xs="0">
        <ion-button size="default" expand="block" routerLink="/cadastrar-ong">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Adicionar
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size-lg="3" size-xs="12" *ngFor="let item of retorno; let pos = index">
        <ion-card>
          <img alt="Silhouette of mountains" [src]="item.logo_path" width="100%" height="200px"/>
          <ion-card-header>
            <ion-card-title>{{item.nome_fantasia}}</ion-card-title>
            <ion-card-subtitle>{{item.email}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>{{item.descricao}}</ion-card-content>

          <ion-button fill="clear" (click)="editarOng(item.id)">Editar</ion-button>
          <ion-button fill="clear" (click)="confirmaExclusao(item.id)">Excluir</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>