<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <!--<img alt="Logo PAPA" src="../../assets/papa-logo.png" /> -->
      <ion-card-content>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Insira o email" type="email" [(ngModel)]="email"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input label="Senha" labelPlacement="floating" placeholder="Insira a senha" type="password" [(ngModel)]="senha"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <ion-button color="dark" fill="clear" disabled="true">Esqueceu a senha?</ion-button>
        <br/>
        <ion-button id="logar" color="primary" expand="full" (click)="logar()">Logar</ion-button>
        <ion-button id="logar" expand="full" fill="clear" [routerLink]="['/cadastro']">Registrar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
