<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Ong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adicionando ONG</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-xs="12" offset-xs="0">
        <ion-list style="padding: 15px;">
          <ion-item>
            <ion-input label="Nome Fantasia" labelPlacement="stacked" type="text" [counter]="true" maxlength="50"
              [(ngModel)]="novaOng.nome_fantasia"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="CNPJ" labelPlacement="stacked" type="text" [maskito]="cnpjMask"
              [maskitoElement]="maskPredicate" [(ngModel)]="novaOng.cnpj"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Email" labelPlacement="stacked" type="text" [counter]="true" maxlength="45"
              [(ngModel)]="novaOng.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Telefone" labelPlacement="stacked" type="text" [maskito]="telMask"
              [maskitoElement]="maskPredicate" [(ngModel)]="novaOng.telefone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Logradouro" labelPlacement="stacked" type="text" [counter]="true" maxlength="45"
              [(ngModel)]="novaOng.logradouro"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Número" labelPlacement="stacked" type="text" [counter]="true" maxlength="10"
              [(ngModel)]="novaOng.numero"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Bairro" labelPlacement="stacked" type="text" [counter]="true" maxlength="45"
              [(ngModel)]="novaOng.bairro"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="CEP" labelPlacement="stacked" type="text" [counter]="true" maxlength="9"
              [maskito]="cepMask" [maskitoElement]="maskPredicate" [(ngModel)]="novaOng.cep"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select label-placement="floating" [(ngModel)]="estadoSelecionado" [placeholder]="estadoSelecionado"
              (ionChange)="onEstadoChange($event)" (click)="verificaEstados()">
              <div slot="label">Estado<ion-text color="danger">*</ion-text></div>
              <ion-select-option *ngFor="let item of estados; let pos = index"
                value="{{item.sigla}}">{{item.nome}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select label-placement="floating" [disabled]="selectDisabled" [(ngModel)]="cidadeSelecionada_id"
              [placeholder]="cidadeSelecionada" (click)="verificaEstados()" (ionChange)="onCidadeChange($event)">
              <div slot="label">Cidade<ion-text color="danger">*</ion-text></div>
              <ion-select-option *ngFor="let item of cidades; let pos = index"
                value="{{item.id}}">{{item.nome}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input label="Descrição" labelPlacement="stacked" type="text" [counter]="true" maxlength="200"
              [(ngModel)]="novaOng.descricao"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Logo</ion-label>
            <input type="file" name="logo_path" (change)="onUpload($event)">
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-xs="12" offset-xs="0">
        <ion-button size="default" expand="block" (click)="enviaOng()">Cadastrar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-xs="12" offset-xs="0">
        <ion-button size="default" expand="block" fill="outline" routerLink="/listar-ong">Voltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>