<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Ong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adicionando ONG</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-xs="12" offset-xs="0">
        <ion-list style="padding: 15px;">
          <ion-item>
            <ion-input label="Nome Fantasia" labelPlacement="stacked" type="text" [counter]="true" maxlength="50"
              [(ngModel)]="novaOng.nome_fantasia"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="CNPJ" labelPlacement="stacked" type="text"
            [maskito]="cnpjMask" [maskitoElement]="maskPredicate" [(ngModel)]="novaOng.cnpj"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Email" labelPlacement="stacked" type="text" [counter]="true" maxlength="45"
              [(ngModel)]="novaOng.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Telefone" labelPlacement="stacked" type="text"
            [maskito]="telMask" [maskitoElement]="maskPredicate" [(ngModel)]="novaOng.telefone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Logradouro" labelPlacement="stacked" type="text" [counter]="true" maxlength="45"
              [(ngModel)]="novaOng.logradouro"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Número" labelPlacement="stacked" type="text" [counter]="true" maxlength="10"
              [(ngModel)]="novaOng.numero"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Bairro" labelPlacement="stacked" type="text" [counter]="true" maxlength="45"
              [(ngModel)]="novaOng.bairro"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="CEP" labelPlacement="stacked" type="text" [counter]="true" maxlength="9"
            [maskito]="cepMask" [maskitoElement]="maskPredicate" [(ngModel)]="novaOng.cep"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Cidade" labelPlacement="stacked" type="text" [(ngModel)]="novaOng.cidade"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select label="Estado" labelPlacement="stacked" searchable="true" searchIcon="search" [(ngModel)]="novaOng.uf">
              <ion-select-option value="AC">Acre</ion-select-option>
              <ion-select-option value="AL">Alagoas</ion-select-option>
              <ion-select-option value="AP">Amapá</ion-select-option>
              <ion-select-option value="AM">Amazonas</ion-select-option>
              <ion-select-option value="BA">Bahia</ion-select-option>
              <ion-select-option value="CE">Ceará</ion-select-option>
              <ion-select-option value="DF">Distrito Federal</ion-select-option>
              <ion-select-option value="ES">Espírito Santo</ion-select-option>
              <ion-select-option value="GO">Goiás</ion-select-option>
              <ion-select-option value="MA">Maranhão</ion-select-option>
              <ion-select-option value="MT">Mato Grosso</ion-select-option>
              <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
              <ion-select-option value="MG">Minas Gerais</ion-select-option>
              <ion-select-option value="PA">Pará</ion-select-option>
              <ion-select-option value="PB">Paraíba</ion-select-option>
              <ion-select-option value="PR">Paraná</ion-select-option>
              <ion-select-option value="PE">Pernambuco</ion-select-option>
              <ion-select-option value="PI">Piauí</ion-select-option>
              <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
              <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
              <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
              <ion-select-option value="RO">Rondônia</ion-select-option>
              <ion-select-option value="RR">Roraima</ion-select-option>
              <ion-select-option value="SC">Santa Catarina</ion-select-option>
              <ion-select-option value="SP">São Paulo</ion-select-option>
              <ion-select-option value="SE">Sergipe</ion-select-option>
              <ion-select-option value="TO">Tocantins</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input label="Descrição" labelPlacement="stacked" type="text" [(ngModel)]="novaOng.descricao"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Logo</ion-label>
            <input type="file" name="logo_path" (change)="onUpload($event)">
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-xs="12" offset-xs="0">
        <ion-button size="default" expand="block" (click)="enviaOng()">Cadastrar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-xs="12" offset-xs="0">
        <ion-button size="default" expand="block" fill="outline" routerLink="/listar-ong">Voltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>