<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Atualizando Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-title size="large">Atualizando Animal</ion-title>
    </ion-toolbar>
  </ion-header>
  
        <ion-card style="padding: 15px;">
          <ion-item>
            <ion-input fill="solid" label="Nome" labelPlacement="stacked" type="text" [counter]="true" maxlength="50"
              [(ngModel)]="novoAnimal.nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select fill="solid" label="Espécie" interface="popover" labelPlacement="stacked" [(ngModel)]="novoAnimal.raca.especie_id" [placeholder]="novoAnimal.raca.especie.nome_comum" (ionChange)="onEspecieChange($event)">
              <ion-select-option *ngFor="let item of especies; let pos = index" value="{{item.id}}">{{item.nome_comum}}</ion-select-option>            
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select fill="solid" label="Raça" interface="popover" labelPlacement="stacked" [(ngModel)]="novoAnimal.raca_id" [placeholder]="novoAnimal.raca.nome">
              <ion-select-option *ngFor="let item of racas; let pos = index" value="{{item.id}}">{{item.nome}}</ion-select-option>            
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select fill="solid" label="Idade" interface="popover" labelPlacement="stacked" [(ngModel)]="novoAnimal.idade">
              <ion-select-option value="Filhote">Filhote</ion-select-option>
              <ion-select-option value="Adulto">Adulto</ion-select-option>
              <ion-select-option value="Idoso">Idoso</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select fill="solid" label="Porte" interface="popover" labelPlacement="stacked" [(ngModel)]="novoAnimal.porte">
              <ion-select-option value="Pequeno">Pequeno</ion-select-option>
              <ion-select-option value="Médio">Médio</ion-select-option>
              <ion-select-option value="Grande">Grande</ion-select-option>
            </ion-select>
          </ion-item>
          <!--
          <ion-item>
            <ion-input fill="solid" label="Situação" labelPlacement="stacked" type="text"
              [(ngModel)]="novoAnimal.situacao"></ion-input>
          </ion-item>
          -->
          <ion-item>
            <ion-label position="stacked">Foto</ion-label>
            <input type="file" name="foto_path" (change)="onUpload($event)">
          </ion-item>
          <ion-item>
            <ion-textarea fill="solid" label="Descrição" labelPlacement="stacked" type="text" [counter]="true"
              maxlength="200" [autoGrow]="true" [(ngModel)]="novoAnimal.descricao"></ion-textarea>
          </ion-item>
          <ion-button size="default" expand="block" (click)="enviaAnimal()">
            Enviar
          </ion-button>      
          <ion-button size="default" expand="block" fill="outline" (click)="voltaPagina()">
            Voltar
          </ion-button>
        </ion-card>
      
        
      
</ion-content>