<ion-app>
  <ion-split-pane contentId="main-content" style="background-color: #E9F1F7;">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" style="background-color: #E9F1F7;">
          <div class="menu-logo">
          <ion-img style="width: 150px; height: 150px;" src="../../assets/icon/icone.png" alt="Logo do sistema"></ion-img>
          </div>
          <br>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" style="background-color: #E9F1F7;">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="background-color: #E9F1F7;">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" style="background-color: #E9F1F7;"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
